html
  head
    title!= title
   body
    table
       tr
        th 用户id
        th 用户名
    each user in users
       tr
        td!=user.id
        td!= user.name
    button 下一页

    h3
        |抱歉，之前接收到的贵公司的答题要求是一小时内打完，故安排在周六上午10点。
        |在接收到邮件之后发现是一天的编程量，由于本人周六下午(12:00-20:00)有私事需要处理，故无法抽出一整天来进行答题，
        |此情况已与电联我笔试的HR说明，我会尽力保证在7.30 10:00前提交。
    h3
        |项目所涉及的前端技术bootstrap，vue等我并不了解，express的模板引擎也是今天第一次接触，
        |无法达成测试题的全部要求，仅能做成一个静态页面（从接口读取数据）。
    h3   后端所有RESTful API功能均已实现,验证方式如下(page=1-99是有数据的,其他参数和页数会返回请求错误的code)
    a http://127.0.0.1:3000/api/users?page=1
    h3
        |再次对无法完成本次测试的全部内容，表达深深的歉意。
        |2017.7.30 0:04


