html
  head
    title!= title
   body
    table
       tr
        th 用户id
        th 用户名
    each user in users
       tr
        td!=user.id
        td!= user.name
    button 下一页

    h3   后端所有RESTful API功能均已实现,验证方式如下(page=1-99是有数据的,其他参数和页数会返回请求错误的code)
    a http://127.0.0.1:3000/api/users?page=1



